/** @format */

nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  background: #ffffff;
  border-bottom: 4px solid #b2b1b5;
}

nav h1 {
  margin-top: 25px;
  color: #6504b5;
  font-family: Rosario Regular;
}

nav ul {
  display: flex;
  list-style: none;
  margin-top: 25px;
}

nav li {
  padding-left: 36px;
  margin-left: 36px;
}
.link-style {
  text-decoration: none;
}

nav ul li {
  font-family: Rosario Regular;
  color: #f4f6fa;
  background-color: #6504b5;
  border: 1px solid #585757;
  border-radius: 25px;
  padding: 10px 30px;
}

nav ul li:hover {
  font-family: Rosario Regular;
  text-decoration: none;
  color: #070707;
  background-color: #f0f0f5;
  border: 1px solid #6504b5;
  border-radius: 25px;
  padding: 10px 30px;
}

/* 
  Extra small devices (phones, 600px and down) 
*/
@media only screen and (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }
  nav li {
    display: flex;
    padding: 0.8rem 0;
    margin-bottom: 1rem;
    font-size: 20px;
    justify-content: center;
    margin-left: 0px;
  }

  nav h1 {
    font-size: 40px;
  }
  nav a {
    padding-left: 80px;
    padding-right: 80px;
  }
}
