.login-header {
    text-align: center;
    color: #641AB5;
}

.login-submit, .login-register:hover {
    background-color: #641AB5;
}

.login-submit:hover {
    background-color: #410E78;
}

.login-submit:focus, .login-register:focus {
    background-color: #2E0652;
}

.login-submit, .login-register {
    width: 100%;
    border-radius: 18px;
}

.login-register {
    background-color: #ffffff;
    color: #641AB5;
    border-color: #641AB5;
}

.login-container {
  width: 100%;
}

/* @media only screen and (max-width: 600px) {
    .login-container {
        display: flex;
        justify-content: center;

        
    }
    .justify-content-md-center{
        margin-right: 0px;
    }
  
  } */
